.btns {
  display: flex;
  align-items: center;

  &--col-laptop {
    flex-direction: column;

    @media #{$screen-desktop} {
      flex-direction: row;
    }
  }

  &__item {
    &--centered {
      margin: 0 auto;
    }

    &--right {
      position: absolute;
      right: 0;
    }
  }
}
