.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;
  color: inherit;

  cursor: pointer;
  text-decoration: none;
  transition: all $transition-duration $transition-function;

  &--white {
    color: $black;
    background-color: $white;

    border-radius: rem($border-radius-medium);
    box-shadow: $shadow;

    text-align: center;

    &:hover {
      background-color: $guardsman-red;
      color: $white;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--medium {
    height: rem($btn-height-medium);

    padding: 0 rem(20px);

    font-size: rem(16px);
    line-height: rem(20px);

    @media #{$screen-desktop} {
      padding: 0 rem(35px);
    }
  }

  &--big {
    height: rem(47px);
    width: 100%;

    padding: 0 rem(20px);

    font-size: rem(16px);
    font-weight: $font-weight-semiBold;
    line-height: rem(21px);

    @media #{$screen-laptop} {
      height: rem($btn-height-big);

      font-size: rem(20px);
    }

    @media #{$screen-desktop} {
      height: 4.3vw;
      font-size: 1.25vw;
    }
  }

  &--with-icons {
    gap: rem(10px);
  }

  &__icon--medium {
    width: rem($icon-size-medium);
    height: rem($icon-size-medium);
  }
}
