.domino {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: $domino-width-small;
  height: $domino-height-small;

  padding: 7px;

  background-color: $white;
  border-radius: $border-radius-medium;

  box-shadow: $shadow;

  animation: rotation 5s ease-in-out 1.5s infinite;
  @media #{$screen-laptop} {
    width: $domino-width-medium;
    height: $domino-height-medium;

    padding: 15px;
  }

  @media #{$screen-desktop} {
    width: $domino-width-big;
    height: $domino-height-big;

    padding: 20px;
  }

  &--centered {
    margin: 0 auto;
  }

  &__block {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 35%;

    &--top {
      animation: down 2.5s ease-in-out alternate infinite;
    }

    &--bottom {
      animation: up 2.5s ease-in-out 1s alternate infinite;
    }

    &--single {
      justify-content: center;
    }

    &--double {
      justify-content: space-between;
    }

    &--triple {
      justify-content: normal;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    width: 100%;
    height: calc(100% / 3);

    &--single {
      justify-content: center;
    }

    &--double {
      justify-content: space-between;
    }
  }

  &__dot {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: $black;

    @media #{$screen-laptop} {
      width: 20px;
      height: 20px;
    }

    @media #{$screen-desktop} {
      width: 25px;
      height: 25px;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(180deg);
  }

  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes down {
  0%,
  40% {
    transform: translateY(0);
  }

  60%,
  100% {
    transform: translateY(187%);
  }
}

@keyframes up {
  0%,
  40% {
    transform: translateY(0);
  }

  60%,
  100% {
    transform: translateY(-187%);
  }
}
