.link {
  font-size: 12px;
  transition: all $transition-duration $transition-function;

  @media #{$screen-laptop} {
    font-size: 14px;
  }

  @media #{$screen-desktop} {
    font-size: 18px;
  }

  &--white {
    font-weight: $font-weight-medium;
    color: $white;

    @media (hover: hover) {
      &:hover {
        color: $guardsman-red;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--with-icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon--medium {
    width: $icon-size-medium;
    height: $icon-size-medium;
  }
}
