.logo {
  width: rem($logo-width-small);
  height: rem($logo-height-small);

  @media #{$screen-laptop} {
    width: rem($logo-width-medium);
    height: rem($logo-height-medium);
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
