.nav {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: block;

    padding: 25px 36px;

    color: inherit;
    text-decoration: none;

    transition: all $transition-duration $transition-function;

    @media (hover: hover) {
      &:hover {
        background-color: $gold;
        color: $black;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }
}
