.header {
  display: flex;
  align-items: center;

  height: $header-height-mobile;

  @media #{$screen-laptop} {
    height: $header-height-laptop;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__col {
    &--logo {
      margin-left: 6%;

      @media #{$screen-laptop} {
        margin-left: 12%;
      }

      @media #{$screen-desktop} {
        margin-left: 20%;
      }
    }

    &--menu {
      margin-left: auto;
    }
  }

  &__contacts-text {
    display: none;

    @media #{$screen-laptop} {
      display: block;

      span {
        display: none;
      }
    }

    @media #{$screen-desktop} {
      span {
        display: inline;
      }
    }
  }
}
