.icon {
  display: block;

  width: 100%;
  height: 100%;

  &--arrow-down {
    transform: rotate(180deg);
  }

  &--arrow-left {
    transform: rotate(-90deg);
  }

  &--arrow-right {
    transform: rotate(90deg);
  }
}
