.page {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100dvh;

  overflow: hidden;
  z-index: $z-page;

  @media #{$screen-laptop} {
    height: 100vh;
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    max-height: calc(
      100vh - #{$footer-height-mobile} - #{$header-height-mobile}
    );

    @media #{$screen-laptop} {
      max-height: calc(
        100vh - #{$footer-height-laptop} - #{$header-height-laptop}
      );
    }

    @media #{$screen-desktop} {
      max-height: calc(
        100vh - #{$footer-height-desktop} - #{$header-height-laptop}
      );
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}
