.btns {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @media #{$screen-laptop} {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .btn {
      width: rem(315px);
    }
  }

  @media #{$screen-desktop} {
    justify-content: flex-start;

    .btn {
      width: 20vw;
    }
  }

  &__item {
    &--right {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
}
