$gap-mobile: 40px;
$gap-desktop: 20px;

.cards {
  display: flex;
  overflow-x: auto;

  gap: $gap-mobile;

  @media #{$screen-laptop} {
    gap: $gap-desktop;
  }

  &__item {
    width: 95%;

    flex-shrink: 0;

    @media #{$screen-laptop} {
      width: 45%;
    }

    @media #{$screen-desktop} {
      width: calc(33% - (#{$gap-desktop} / 2));
    }
  }
}
