.footer {
  width: 100%;
  height: $footer-height-mobile;
  position: relative;

  @media #{$screen-laptop} {
    height: $footer-height-laptop;
  }

  @media #{$screen-desktop} {
    height: $footer-height-desktop;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__btns {
    position: relative;
    height: 70px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
