.slider {
  display: flex;
  align-items: center;

  width: 100vw;

  margin: 0 -$gap-container;

  z-index: $z-slider;
  overflow: hidden;

  @media #{$screen-desktop} {
    width: 100%;

    margin: 0;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .swiper-container {
      height: 100%;
    }
  }

  &__btns {
    position: absolute;
    top: 27vh;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 18px;

    @media #{$screen-desktop} {
      top: auto;
      bottom: 0;

      width: auto;
      justify-content: normal;

      margin-left: 60vw;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;

    border-radius: $border-radius-miniture;

    @media #{$screen-laptop} {
      border-radius: $border-radius-medium;
    }

    &-icon {
      width: 13px;
      height: 13px;

      @media #{$screen-laptop} {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.swiper {
  $btn-size: 50px;
  $btn-size-mobile: 35px;

  &-container {
    height: 100%;

    @media #{$screen-desktop} {
      height: auto;
      padding-bottom: calc(#{$btn-size} + 10px);
    }
  }

  &-pagination {
    position: relative;
    display: flex;

    gap: 10px;

    &-bullet {
      width: 8px;
      height: 8px;

      opacity: 1;
      background-color: #2e2e2e;

      @media #{$screen-laptop} {
        width: 12px;
        height: 12px;
      }

      &-active {
        background-color: $black;
        opacity: 0.6;
      }
    }
  }

  &-button-next,
  &-button-prev {
    position: relative;

    width: $btn-size-mobile;
    height: $btn-size-mobile;

    margin: 0;

    z-index: $z-slider;

    @media #{$screen-laptop} {
      width: $btn-size;
      height: $btn-size;
    }

    &::after {
      display: none;
    }
  }

  &-notification {
    display: none;
  }
}
